.all-books {
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 30px;
    position: relative;
  }

  .modal-window {
    position: fixed;
    width: 60vw;
    height: 80vh;
    background: rgb(255, 255, 255);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
      rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    z-index: 100;
    left: 50%;
    top: 50vh;
    transform: translate(-50%, -52%) scale(0);
    transition: 0.5s;

    &.show-modal {
      transform: translate(-50%, -52%) scale(1);
    }
  }

  &__no-book {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__status {
    position: absolute;
    top: 80px;
    right: 0;
  }

  &__new-status {
    padding: 8px 14px;
    color: #fff;
    background: #35fa04;
  }

  &__reading-status {
    padding: 8px 14px;
    color: #000000;
    background: #faf204;
  }

  &__finished-status {
    padding: 8px 14px;
    color: #ffffff;
    background: #fa2904;
  }

  &__three-status {
    width: 150px;
    flex-direction: column;
    position: absolute;
    bottom: 60px;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba($color: #000000, $alpha: 0.5);
    background: #fff;
    display: none;
    z-index: 999;

    &.show {
      display: flex;
    }

    span {
      padding: 5px 20px;
      cursor: pointer;

      &:hover {
        background: rgba($color: #ebebeb, $alpha: 1);
      }
    }
  }

  .add-icon {
    position: fixed;
    right: 20px;
    bottom: 20px;
    transition: 0.3s;

    &.active {
      transform: rotate(45deg);
      background: rgb(253, 0, 0);
    }
  }
}

@media (max-width: 1200px) {
  .all-books {
    .container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media (max-width: 950px) {
  .all-books {
    .container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media (max-width: 650px) {
  .all-books {
    .container {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
